\hypertarget{kconfig_8h}{}\doxysection{include/linux/kconfig.h File Reference}
\label{kconfig_8h}\index{include/linux/kconfig.h@{include/linux/kconfig.h}}
{\ttfamily \#include $<$generated/autoconf.\+h$>$}\newline
Include dependency graph for kconfig.\+h\+:
% FIG 0
This graph shows which files directly or indirectly include this file\+:
% FIG 1
\doxysubsection*{Macros}
\begin{DoxyCompactItemize}
\item 
\#define \mbox{\hyperlink{kconfig_8h_aeccf3e279c16687d91cd28d0463cbde6}{\+\_\+\+\_\+\+L\+I\+T\+T\+L\+E\+\_\+\+E\+N\+D\+I\+AN}}~1234
\item 
\#define \mbox{\hyperlink{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1}}~0,
\item 
\#define \mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(\+\_\+\+\_\+ignored,  \mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}}, ...)~\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}}
\item 
\#define \mbox{\hyperlink{kconfig_8h_a20310d3084377820c671bdbfb851b629}{\+\_\+\+\_\+and}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_aa145fd97ca157ccce338437b18e4c625}{\+\_\+\+\_\+\+\_\+and}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_aa145fd97ca157ccce338437b18e4c625}{\+\_\+\+\_\+\+\_\+and}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_afc208d4ce75b9d56cb54c410bfff3919}{\+\_\+\+\_\+\+\_\+\+\_\+and}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_afc208d4ce75b9d56cb54c410bfff3919}{\+\_\+\+\_\+\+\_\+\+\_\+and}}(arg1\+\_\+or\+\_\+junk,  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}}, 0)
\item 
\#define \mbox{\hyperlink{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}{\+\_\+\+\_\+or}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_a781af2e4cf29d5f5f2c8ed4d03299df9}{\+\_\+\+\_\+\+\_\+or}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_a781af2e4cf29d5f5f2c8ed4d03299df9}{\+\_\+\+\_\+\+\_\+or}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_a3245d01bd1dbe7e05febbab046dde29d}{\+\_\+\+\_\+\+\_\+\+\_\+or}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_a3245d01bd1dbe7e05febbab046dde29d}{\+\_\+\+\_\+\+\_\+\+\_\+or}}(arg1\+\_\+or\+\_\+junk,  \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk 1, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}})~\mbox{\hyperlink{kconfig_8h_ab7c37b5cffa1dd4dd1077ed8d63deb16}{\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_ab7c37b5cffa1dd4dd1077ed8d63deb16}{\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}})~\mbox{\hyperlink{kconfig_8h_ab81cc345f162f4778fa3042102a1ad3a}{\+\_\+\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_ab81cc345f162f4778fa3042102a1ad3a}{\+\_\+\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(arg1\+\_\+or\+\_\+junk)~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk 1, 0)
\item 
\#define \mbox{\hyperlink{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{I\+S\+\_\+\+B\+U\+I\+L\+T\+IN}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})~\mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{I\+S\+\_\+\+M\+O\+D\+U\+LE}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})~\mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}\#\#\+\_\+\+M\+O\+D\+U\+LE)
\item 
\#define \mbox{\hyperlink{kconfig_8h_ae192090bf9f944a0297c5f5840e24a19}{I\+S\+\_\+\+R\+E\+A\+C\+H\+A\+B\+LE}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})
\item 
\#define \mbox{\hyperlink{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}{I\+S\+\_\+\+E\+N\+A\+B\+L\+ED}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})~\mbox{\hyperlink{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}{\+\_\+\+\_\+or}}(\mbox{\hyperlink{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{I\+S\+\_\+\+B\+U\+I\+L\+T\+IN}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}), \mbox{\hyperlink{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{I\+S\+\_\+\+M\+O\+D\+U\+LE}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}))
\end{DoxyCompactItemize}


\doxysubsection{Macro Definition Documentation}
\mbox{\Hypertarget{kconfig_8h_afc208d4ce75b9d56cb54c410bfff3919}\label{kconfig_8h_afc208d4ce75b9d56cb54c410bfff3919}} 
\index{kconfig.h@{kconfig.h}!\_\_\_\_and@{\_\_\_\_and}}
\index{\_\_\_\_and@{\_\_\_\_and}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_\_and}{\_\_\_\_and}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+\+\_\+and(\begin{DoxyParamCaption}\item[{}]{arg1\+\_\+or\+\_\+junk,  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}}, 0)}

\mbox{\Hypertarget{kconfig_8h_ab81cc345f162f4778fa3042102a1ad3a}\label{kconfig_8h_ab81cc345f162f4778fa3042102a1ad3a}} 
\index{kconfig.h@{kconfig.h}!\_\_\_\_is\_defined@{\_\_\_\_is\_defined}}
\index{\_\_\_\_is\_defined@{\_\_\_\_is\_defined}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_\_is\_defined}{\_\_\_\_is\_defined}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+\+\_\+is\+\_\+defined(\begin{DoxyParamCaption}\item[{}]{arg1\+\_\+or\+\_\+junk }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk 1, 0)}

\mbox{\Hypertarget{kconfig_8h_a3245d01bd1dbe7e05febbab046dde29d}\label{kconfig_8h_a3245d01bd1dbe7e05febbab046dde29d}} 
\index{kconfig.h@{kconfig.h}!\_\_\_\_or@{\_\_\_\_or}}
\index{\_\_\_\_or@{\_\_\_\_or}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_\_or}{\_\_\_\_or}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+\+\_\+or(\begin{DoxyParamCaption}\item[{}]{arg1\+\_\+or\+\_\+junk,  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}{\+\_\+\+\_\+take\+\_\+second\+\_\+arg}}(arg1\+\_\+or\+\_\+junk 1, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})}

\mbox{\Hypertarget{kconfig_8h_aa145fd97ca157ccce338437b18e4c625}\label{kconfig_8h_aa145fd97ca157ccce338437b18e4c625}} 
\index{kconfig.h@{kconfig.h}!\_\_\_and@{\_\_\_and}}
\index{\_\_\_and@{\_\_\_and}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_and}{\_\_\_and}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+and(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_afc208d4ce75b9d56cb54c410bfff3919}{\+\_\+\+\_\+\+\_\+\+\_\+and}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})}

\mbox{\Hypertarget{kconfig_8h_ab7c37b5cffa1dd4dd1077ed8d63deb16}\label{kconfig_8h_ab7c37b5cffa1dd4dd1077ed8d63deb16}} 
\index{kconfig.h@{kconfig.h}!\_\_\_is\_defined@{\_\_\_is\_defined}}
\index{\_\_\_is\_defined@{\_\_\_is\_defined}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_is\_defined}{\_\_\_is\_defined}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+is\+\_\+defined(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_ab81cc345f162f4778fa3042102a1ad3a}{\+\_\+\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}})}

\mbox{\Hypertarget{kconfig_8h_a781af2e4cf29d5f5f2c8ed4d03299df9}\label{kconfig_8h_a781af2e4cf29d5f5f2c8ed4d03299df9}} 
\index{kconfig.h@{kconfig.h}!\_\_\_or@{\_\_\_or}}
\index{\_\_\_or@{\_\_\_or}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_\_or}{\_\_\_or}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+\_\+or(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a3245d01bd1dbe7e05febbab046dde29d}{\+\_\+\+\_\+\+\_\+\+\_\+or}}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})}

\mbox{\Hypertarget{kconfig_8h_a20310d3084377820c671bdbfb851b629}\label{kconfig_8h_a20310d3084377820c671bdbfb851b629}} 
\index{kconfig.h@{kconfig.h}!\_\_and@{\_\_and}}
\index{\_\_and@{\_\_and}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_and}{\_\_and}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+and(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_aa145fd97ca157ccce338437b18e4c625}{\+\_\+\+\_\+\+\_\+and}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})}

\mbox{\Hypertarget{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}\label{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}} 
\index{kconfig.h@{kconfig.h}!\_\_ARG\_PLACEHOLDER\_1@{\_\_ARG\_PLACEHOLDER\_1}}
\index{\_\_ARG\_PLACEHOLDER\_1@{\_\_ARG\_PLACEHOLDER\_1}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_ARG\_PLACEHOLDER\_1}{\_\_ARG\_PLACEHOLDER\_1}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1~0,}

\mbox{\Hypertarget{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}\label{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}} 
\index{kconfig.h@{kconfig.h}!\_\_is\_defined@{\_\_is\_defined}}
\index{\_\_is\_defined@{\_\_is\_defined}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_is\_defined}{\_\_is\_defined}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+is\+\_\+defined(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_ab7c37b5cffa1dd4dd1077ed8d63deb16}{\+\_\+\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}})}

\mbox{\Hypertarget{kconfig_8h_aeccf3e279c16687d91cd28d0463cbde6}\label{kconfig_8h_aeccf3e279c16687d91cd28d0463cbde6}} 
\index{kconfig.h@{kconfig.h}!\_\_LITTLE\_ENDIAN@{\_\_LITTLE\_ENDIAN}}
\index{\_\_LITTLE\_ENDIAN@{\_\_LITTLE\_ENDIAN}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_LITTLE\_ENDIAN}{\_\_LITTLE\_ENDIAN}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+\+L\+I\+T\+T\+L\+E\+\_\+\+E\+N\+D\+I\+AN~1234}

\mbox{\Hypertarget{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}\label{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}} 
\index{kconfig.h@{kconfig.h}!\_\_or@{\_\_or}}
\index{\_\_or@{\_\_or}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_or}{\_\_or}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+or(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}},  }\item[{}]{\mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a781af2e4cf29d5f5f2c8ed4d03299df9}{\+\_\+\+\_\+\+\_\+or}}(\mbox{\hyperlink{fpu_2bugs_8c_aeea798d53466edac4a94b86a982248c8}{x}}, \mbox{\hyperlink{fpu_2bugs_8c_ac5cd599f4bf7a023cabc4bdaa0d679b5}{y}})}

\mbox{\Hypertarget{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}\label{kconfig_8h_a25dc6b68138908c76ff08d447af52b1a}} 
\index{kconfig.h@{kconfig.h}!\_\_take\_second\_arg@{\_\_take\_second\_arg}}
\index{\_\_take\_second\_arg@{\_\_take\_second\_arg}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{\_\_take\_second\_arg}{\_\_take\_second\_arg}}
{\footnotesize\ttfamily \#define \+\_\+\+\_\+take\+\_\+second\+\_\+arg(\begin{DoxyParamCaption}\item[{}]{\+\_\+\+\_\+ignored,  }\item[{}]{\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}},  }\item[{}]{... }\end{DoxyParamCaption})~\mbox{\hyperlink{virtio__balloon_8h_a0ad0ce031265c3c7174438c5511109b7}{val}}}

\mbox{\Hypertarget{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}\label{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}} 
\index{kconfig.h@{kconfig.h}!IS\_BUILTIN@{IS\_BUILTIN}}
\index{IS\_BUILTIN@{IS\_BUILTIN}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{IS\_BUILTIN}{IS\_BUILTIN}}
{\footnotesize\ttfamily \#define I\+S\+\_\+\+B\+U\+I\+L\+T\+IN(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}})}

\mbox{\Hypertarget{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}\label{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}} 
\index{kconfig.h@{kconfig.h}!IS\_ENABLED@{IS\_ENABLED}}
\index{IS\_ENABLED@{IS\_ENABLED}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{IS\_ENABLED}{IS\_ENABLED}}
{\footnotesize\ttfamily \#define I\+S\+\_\+\+E\+N\+A\+B\+L\+ED(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}{\+\_\+\+\_\+or}}(\mbox{\hyperlink{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{I\+S\+\_\+\+B\+U\+I\+L\+T\+IN}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}), \mbox{\hyperlink{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{I\+S\+\_\+\+M\+O\+D\+U\+LE}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}))}

\mbox{\Hypertarget{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}\label{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}} 
\index{kconfig.h@{kconfig.h}!IS\_MODULE@{IS\_MODULE}}
\index{IS\_MODULE@{IS\_MODULE}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{IS\_MODULE}{IS\_MODULE}}
{\footnotesize\ttfamily \#define I\+S\+\_\+\+M\+O\+D\+U\+LE(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}} }\end{DoxyParamCaption})~\mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\+\_\+\+\_\+is\+\_\+defined}}(\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}\#\#\+\_\+\+M\+O\+D\+U\+LE)}

\mbox{\Hypertarget{kconfig_8h_ae192090bf9f944a0297c5f5840e24a19}\label{kconfig_8h_ae192090bf9f944a0297c5f5840e24a19}} 
\index{kconfig.h@{kconfig.h}!IS\_REACHABLE@{IS\_REACHABLE}}
\index{IS\_REACHABLE@{IS\_REACHABLE}!kconfig.h@{kconfig.h}}
\doxysubsubsection{\texorpdfstring{IS\_REACHABLE}{IS\_REACHABLE}}
{\footnotesize\ttfamily \#define I\+S\+\_\+\+R\+E\+A\+C\+H\+A\+B\+LE(\begin{DoxyParamCaption}\item[{}]{\mbox{\hyperlink{vmx_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}} }\end{DoxyParamCaption})}

{\bfseries Value\+:}
\begin{DoxyCode}{0}
\DoxyCodeLine{                \mbox{\hyperlink{kconfig_8h_ae948e402ec39a611d1f92e454ca243c7}{\_\_or}}(\mbox{\hyperlink{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{IS\_BUILTIN}}(\mbox{\hyperlink{cpu_2bugs_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}), \(\backslash\)}
\DoxyCodeLine{                \mbox{\hyperlink{kconfig_8h_a20310d3084377820c671bdbfb851b629}{\_\_and}}(\mbox{\hyperlink{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{IS\_MODULE}}(\mbox{\hyperlink{cpu_2bugs_8c_a31b45a0ff8b2861859ecfbad2ce4fe02}{option}}), \mbox{\hyperlink{kconfig_8h_a60863eb6e2db2cab3d6df73c8575e5fb}{\_\_is\_defined}}(MODULE)))}

\end{DoxyCode}
